/**
 * Main menu icons.
 */
.navbar-icon-my-workbench:before {
  background-image: url("../icons/787878/hammer.png");
}
.no-svg .navbar-icon-my-workbench:before {
  background-image: url("../icons/787878/hammer.png");
}
.navbar-icon-my-workbench:active:before,
.navbar-icon-my-workbench.navbar-active:before {
  background-image: url("../icons/000000/hammer.svg");
}
.no-svg .navbar-icon-my-workbench:active:before,
.no-svg .navbar-icon-my-workbench.navbar-active:before {
  background-image: url("../icons/000000/hammer.png");
}
