.view-uw-workbench-recent-content .views-exposed-form  label {
  margin: 0;
  padding: 0;
}
.view-uw-workbench-recent-content .form-item {
  padding: 1px 0;
}
.view-uw-workbench-recent-content input[type="text"] {
  width: 10em;
}
.view-uw-workbench-recent-content #edit-changed,
.view-uw-workbench-recent-content #edit-changed-1 {
  width: 12em;
}
.view-uw-workbench-recent-content .description {
  display: none;
}
